{{>head }}
{{> navbar }}
    <div class="row">
        <div class="col">
            <h1>Capitán américa</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus quis fuga, alias perferendis temporibus facilis commodi libero ducimus quo consequuntur, harum deserunt neque dignissimos ad dicta, nostrum debitis officiis repudiandae.</p>
        </div>
        <div class="col">
            <img src="assets/img/agropet.jpg" alt="" class="img-tumbnail">
        </div>
    </div>
{{> footer }}